<ion-header>

  <ion-navbar>
    <ion-title>Welcome</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <form [formGroup]="loginForm">
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" [(ngModel)]="user.email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="!valid && loginForm.getError('email', ['email'])">
            Please enter a valid email
        </div>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="!valid && loginForm.getError('required', ['password'])">
            This field is required
        </div>
    </form>

    <button ion-button clear block (click)="login(user)">Login</button>
    <button ion-button clear block (click)="register()">Register</button>
</ion-content>
