<ion-header>

  <ion-navbar>
    <ion-title>notes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-card *ngFor="let note of notes | async" (press)="showOptions(note)">
      <ion-item>
        <h2>{{ note.generalIdea }}</h2>
        <p>{{ note.summary }}</p>
        <p>{{ note.reminder }}</p>
        <p>{{ note.date | date:'dd-MM-yyyy HH:mm' }}</p>
      </ion-item>
    </ion-card>

  </ion-list>
  <!--<p *ngIf="!notes">No note</p>-->
  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="addNoteModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
