<ion-header>
  <ion-navbar>
    <ion-title>{{ note.generalIdea }}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="dismiss()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="editNote">
    <ion-item>
      <ion-label floating>General Idea</ion-label>
      <ion-input type="text" [(ngModel)]="note.generalIdea" formControlName="generalIdea"></ion-input>
    </ion-item>
    <div *ngIf="!valid && editNote.getError('required', ['generalIdea'])">
        This field is required
    </div>

    <ion-item>
      <ion-label stacked>Summary</ion-label>
      <ion-textarea class="summary" [(ngModel)]="note.summary" placeholder="Enter a summary" formControlName="summary"></ion-textarea>
    </ion-item>
    <div *ngIf="!valid && editNote.getError('required', ['summary'])">
        This field is required
    </div>

    <ion-item>
      <ion-label stacked>Reminder</ion-label>
      <ion-textarea class="reminder" [(ngModel)]="note.reminder" formControlName="reminder"></ion-textarea>
    </ion-item>
    <div *ngIf="!valid && editNote.getError('required', ['reminder'])">
        This field is required
    </div>
  </form>

  <button ion-button clear block (click)="edit(note)">Edit</button>
  <button ion-button clear block (click)="delete(note)">Delete</button>
  
</ion-content>
