<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Modules</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let module of modules | async" (click)="goToNotes(module)" (press)="showOptions(module)">
      <ion-item>
        <h2>{{ module.name }}</h2>
        <i>{{ module.hours }}</i><i *ngIf="module.hours > 1">&nbsp;hours</i><i *ngIf="module.hours == 1">&nbsp;hour</i>
        <ion-badge item-end>{{ module.notesCount }}</ion-badge>
      </ion-item>
    </ion-card>
    

  </ion-list>
  <p *ngIf="!modulesCount">No modules</p>
  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="addModuleModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
