<ion-header>
  <ion-navbar>
    <ion-title>{{ module.name }}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="dismiss()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="editModule">
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="module.name" formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="!valid && editModule.getError('required', ['name'])">
            This field is required
      </div>
      <ion-item>
        <ion-label floating>Hours</ion-label>
        <ion-input type="number" min="1" max="100" [(ngModel)]="module.hours" formControlName="hours"></ion-input>
      </ion-item>
  
      <div *ngIf="!valid && editModule.getError('required', ['hours'])">
          This field is required
      </div>
      <div *ngIf="!valid && editModule.getError('min', ['hours'])">
          Please enter a positive number
      </div>
    </form>

  <button ion-button clear block (click)="edit(module)">Edit</button>
  <button ion-button clear block (click)="delete(module)">Delete</button>
</ion-content>
